.section .section-content .box-text h5{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    max-height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
body{
	font-family:sans-serif !important
}